*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    --orange: rgb(214, 137, 4);
}

header{
    background: rgb(38, 41, 38);
    padding: 0.7em 1rem;
    font-size: 2em;
    color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
}


.span5{
    margin-left: 0.3rem;
    font-size: 2em;
    color: var(--orange);
}

.links{
    background: rgb(92, 92, 92);
    display: flex;

}

.links a{
    text-decoration: none;
    font-size: 0.9em;
    color: rgb(245, 245, 245);
    border-right: solid 1px black;
    padding: 1em 0.9em;
}

.links a:hover{
    background: rgb(245, 245, 245);
    color: rgb(92, 92, 92);
}

.row{
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
}

.row *{
        padding-bottom: 1rem; 
}

.row h2{
    text-align: center;
}

.row p{
    text-align: justify;
    color: grey;
}

.row a{
    text-decoration: none;
    color: var(--orange);
    font-weight: 800;
}

.line{
    background-color: grey;
    height: 1px;
    width: 90%;
    margin-left: 5%;
}

.container2{
    background: rgb(235, 235, 235);
}

.container2 .row1 .new-links{
    display: flex;
    justify-content: space-evenly;
}

.container2 .row1 .new-links a{
    padding-top: 1em;
    text-decoration: none;
    color: var(--orange);
}

.container2 .row1 h3{
    padding: 1em 2rem;
}

.container2 .row2{
    padding-top: 2em;
}

.container2 .row2 h3{
    padding: 1em 2rem;
}

.container2 .row2 p{
        text-align: justify;
        color: grey;
        padding: 1em 2rem;
}

footer{
    background: rgb(38, 41, 38);
    color: rgb(245, 245, 245);
    text-align: center;
    padding: 2em 0;
}

.name{
    color: var(--orange);
}


@media (min-width:720px){
    .container{
        display: flex;
        flex-direction: row;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    img{
        max-width: 200px;
    }
    .container1{
        flex:3;
    }
    .container2{
        flex:1;
    }
    .container1 .details{
        padding: 0 1rem;
        max-width: 60%;
    }
    .container1 .details h2{
        text-align: start;
    }
    .container2 .row1 .new-links{
        flex-direction: column;
        padding: 0 2rem;
    }
}